<!-- Making the basic main page, made the button into a url
 to the level selection page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyboard Quest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tutor/style.css' %}">
</head>
<body>
    <main class="page">
        <h1>Keyboard Quest</h1>
        <p>Typing Tutor for Software Engineering students</p>

        <a class="start-btn" href="{% url 'levels' %}">Start Game</a>
    </main>
</body>
</html>